<ion-header>
  <ion-toolbar>
    <ion-title>Waarisdat</ion-title>
    <ion-button slot="end" (click)="restartButton()">
      Opnieuw
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h5>Score</h5>
  <ion-list>
    <ion-item *ngFor="let feed of feedItems">
      <ion-thumbnail item-left>
        <img *ngIf="feed.photo !='-'" src={{feed.photo}} />
      </ion-thumbnail>
      <ion-label class="item-right">
        <ion-text>
          <h2>Foto #{{feed.photoNumber}}</h2>
          <p>Afstand tot de goede plek: {{feed.distance}} meter</p>
          <p class="score">Score: {{feed.score}} punten</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <h1>Totaal Score: {{totalScore}}</h1>
</ion-content>