<ion-header>
  <ion-toolbar>
    <ion-title mode=ios>Score</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">

  <agm-map #map [latitude]="centerLat" [longitude]="centerLng" [zoom]="14" [clickableIcons]="false">
    <agm-marker *ngFor="let marker of this.waarisdatService.markers" [latitude]="marker.lat" [longitude]="marker.lng"
      [iconUrl]="marker.icon"></agm-marker>

    <agm-marker *ngFor="let marker of this.waarisdatService.markersCorrect" [latitude]="marker.lat"
      [longitude]="marker.lng"></agm-marker>
    <agm-polyline [strokeColor]="'red'" [strokeWeight]="2" *ngFor="let line of lines">
      <agm-polyline-point *ngFor="let point of line" [latitude]="point.lat" [longitude]="point.lng">
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
  <ion-text>Klik op een foto voor de details</ion-text>
  <ion-list>
    <ion-item *ngFor=" let feed of feedItems" (click)='finishDetail(feed)'>
      <ion-thumbnail item-left>
        <img *ngIf="feed.photo !='-'" src={{feed.photo}} />
      </ion-thumbnail>
      <ion-label class="item-right">
        <ion-text>
          <h2>Foto #{{feed.photoNumber}}</h2>
          <p>Afstand tot de goede plek: {{feed.distance}}m</p>
          <p class="score">Score: {{feed.score}} punten</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <h1>Totaal Score: {{totalScore}} punten</h1>
  <p>Wil je in de high-score opgenomen worden,
    vul dan hieronder je naam in.</p>
  <ion-item class="rounded">
    <ion-label fixed>Spelers Naam &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </ion-label>
    <ion-input [(ngModel)]="userName" type="text" value="" (ionChange)="userNameInput()"></ion-input>
  </ion-item>
  <ion-list style="text-align:center">
    <ion-button slot="end" (click)="restartButton()">
      Opnieuw
    </ion-button>
  </ion-list>


</ion-content>