<ion-header>
  <ion-toolbar>
    <ion-title mode=ios>Waarisdat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="level">Level {{level}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="button-outline" (click)="onPhotoClick()">
        <ion-icon name="location-outline"></ion-icon>&nbsp;Kaart
      </ion-button>
    </ion-col>
    <ion-col class="nummering">Foto {{photoNumber}} van {{waarisdatService.currentNumberOfPhotos}}</ion-col>
    <ion-col class="ion-text-right">
      <ion-button class="button-outline" (click)="klaarButton()">
        <ion-icon name="trophy-outline"></ion-icon>
        &nbsp;Klaar
      </ion-button>
    </ion-col>
  </ion-row>
  <!--</div> van {{this.sliderOne.slidesItems.length}}</div>-->
  <div class="ion-padding">
    <ion-slides pager="true" paginationType="fraction" [options]="slideOptsOne" zoom #slideWithNav
      (ionSlideDidChange)=" slideChanged()">
      <ion-slide (click)="onPhotoClick()" *ngFor="let s of sliderOne.slidesItems; let i=index">
        <div class="swiper-zoom-container"><img src={{s.imgUrl}} />
        </div>
        <!--src="https://firebasestorage.googleapis.com/v0/b/easygeo.appspot.com/o/photo%2Fezvyg9mpfnl?alt=media&token=f064ec8c-5a17-4702-84e7-acfe9b4228d9" /> 
          "assets/images/Waarisdit-00{{s.id}}.jpg"> -->
      </ion-slide>
    </ion-slides>
  </div>
  <ion-list style="text-align:center">


  </ion-list>

</ion-content>