<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Utrecht - Foto's
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <p text-center>{{photoNumber}} van {{sliderOne.length}}</p> <a (click)="onPhotoClick(i)">-->
  <div class="ion-padding">
    <ion-slides pager="true" paginationType="fraction" [options]="slideOptsOne" zoom #slideWithNav
      (ionSlideDidChange)=" slideChanged($event)">
      <ion-slide (click)="onPhotoClick(i)" *ngFor="let s of sliderOne.slidesItems; let i=index">
        <div class="swiper-zoom-container"><img src="assets/images/Waarisdit-00{{s.id}}.jpg"></div>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-button class="button button-block" (click)="klaarButton()">
    {{klaarButtonText}}
  </ion-button>
</ion-content>