<ion-header>
  <ion-toolbar>
    <ion-title>Uitleg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <h5>Speel Waarisdat als volgt:</h5>
    <ul>
      <li>Kies jouw quiz</li>
      <li>Tik op <b>Start</b></li>
      <li>Tik op de <b>Kaart</b> knop</li>
      <li>Tik op de kaart waar je denkt dat de foto gemaakt is</li>
      <li>Tik op <b>Foto</b></li>
      <li>Blader door de foto's door te swipen</li>
      <li>Tik op de Kaart knop.. enzovoort</li>
      <li>Je kunt de pinnetjes op de kaart nog verslepen</li>
      <li>Tik op <b>Klaar</b> als je de score wilt zien</li>
      <li>Vul je Spelers Naam in om in de Higscore opgenomen te worden</li>
      <li>Puntentelling: binnen 1000m goed: 0-100 punten, binnen 50m: 100 punten</li>
    </ul>
    <ion-list style="text-align:center">
      <ion-button slot="end" (click)="closeButton()">
        OK
      </ion-button>
    </ion-list>
  </div>
</ion-content>