#body {

    margin-top: 0px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 0px;
  }

  #body h5 {
    margin-left: 10px;
  }
  #body ul {
    text-align: left;
    margin-top: 30px;
  }

  #body ul li {
    text-align: left;
    list-style: disc;
    margin: 10px 10px;
  }

  #list {
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
  }