<ion-header>
  <ion-toolbar>
    <ion-title>Waarisdat</ion-title>

    <ion-button slot="end" (click)="startButton()">
      Start de quiz
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="list">
    <h5>Speel de quiz als volgt:</h5>
    <ul>
      <li>Klik op een foto</li>
      <li>Klik op de kaart waar je denkt dat de foto gemaakt is</li>
      <li>Ga terug naar de foto tab</li>
      <li>Blader door de foto's door te swipen</li>
      <li>Klik op de foto.. enzovoort</li>
      <li>Je kunt de pinnetjes op de kaart nog verslepen</li>
      <li>Tik op Klaar als je de score wilt zien</li>
    </ul>
  </div>

</ion-content>