<ion-header>
  <div id="header">
    <ion-toolbar>
      <div text-left>
        <ion-title mode=md class="start">Waarisdat</ion-title>
      </div>
      <ion-button slot="end" (click)="startButton()">
        Start
      </ion-button>

    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div id="body">
    <h5>Speel de quiz als volgt:</h5>
    <ul>
      <li>Tik op <b>Start</b></li>
      <li>Tik op een foto</li>
      <li>Tik op de kaart waar je denkt dat de foto gemaakt is</li>
      <li>Ga terug naar de foto tab</li>
      <li>Blader door de foto's door te swipen</li>
      <li>Tik op de foto.. enzovoort</li>
      <li>Je kunt de pinnetjes op de kaart nog verslepen</li>
      <li>Tik op <b>Klaar</b> als je de score wilt zien</li>
    </ul>
  </div>

</ion-content>