<ion-header>
  <ion-toolbar>
    <ion-title>
      Waarisdat
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="backButton()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- (dragEnd)="markerDragEnd(coords, $event)"(mapReady)="mapLoad($event)" (mapReady)="mapReady($event)"-->
  <agm-map #map [latitude]="lat" [longitude]="lng" [zoom]="14" [clickableIcons]="false"
    (mapClick)="onMapClick($event.coords.lat, $event.coords.lng)">
    <agm-marker *ngFor="let marker of this.waarisdatService.markers" [latitude]="marker.lat" [longitude]="marker.lng"
      [opacity]="marker.alpha" [iconUrl]="marker.icon" (markerClick)="onMarkerClick($event)"
      (dragEnd)="markerDragEnd(marker,$event.coords.lat, $event.coords.lng)" [markerDraggable]="true"></agm-marker>
  </agm-map>
</ion-content>