:root { 
--ion-color-primary : #ff386f;
}

#body , #header {
    margin-top: 0px;
    text-align: left;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 40px;
  }


  #header  .start {
    text-align: right;
    font-size: 100px;
  }