<ion-header no-border>
  <ion-toolbar no-border>

    <ion-title>Admin</ion-title>
    <ion-buttons slot="end" padding>
      <ion-button (click)="save()" slot="end">OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="form">

    <div text-center>
      <img *ngIf="adminPageData.urlImage" [src]="adminPageData.urlImage | async">
    </div>

    <div margin-bottom margin-top text-center>
      <label class="custom-file-upload" style="margin:auto;max-width:400px">
        <input id="file-upload" placeholder="Seleciona imagen" type="file" accept=".png, .jpg"
          (change)="onUpload($event)" />
        <ion-icon margin-right name="camera"></ion-icon> Selecteer foto
      </label>
    </div>

    <br>
    <h3 class="goodfont">Foto info</h3>

    <br>
    <ion-item margin-bottom margin-bottom>
      <ion-input type="text" placeholder="Naam" [(ngModel)]="adminPageData.name">
      </ion-input>
    </ion-item>
    <ion-item margin-bottom margin-bottom>
      <ion-input type="text" placeholder="Level" [(ngModel)]="adminPageData.level">
      </ion-input>
    </ion-item>
    <ion-item margin-bottom margin-bottom>
      <ion-button slot="start" (click)="getLocationFromMap()">
        <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item margin-bottom margin-bottom>
      <ion-input type="text" placeholder="Latitude" [(ngModel)]="adminPageData.lat">
      </ion-input>
    </ion-item>
    <ion-item margin-bottom margin-bottom>
      <ion-input type="text" placeholder="Longitude" [(ngModel)]="adminPageData.lng">
      </ion-input>
    </ion-item>
    <input #imageProd type="hidden" [value]="adminPageData.urlImage | async" style="color:black;">
    <br><br>
    <!-- <ion-button mode="ios" size="large" class="main-container" color="light" expand="block">
    Save</ion-button> -->
  </div>
</ion-content>