<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backButton()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div id="body">
    <h1>Foto #{{photoNumber}}</h1>
    <p class="finish-detailxx"><img height="200" src="assets/images/Waarisdit-00{{photoNumber}}.jpg"></p>
  </div>
  <agm-map #map [fitBounds]="true" [latitude]="centerMarker.lat" [longitude]="centerMarker.lng" [zoom]="13"
    [clickableIcons]="false">
    <agm-marker [agmFitBounds]="true" [latitude]="guessMarker.lat" [longitude]="guessMarker.lng"
      [iconUrl]="guessMarker.icon"> </agm-marker>
    <agm-marker [agmFitBounds]="true" [latitude]="centerMarker.lat" [longitude]="centerMarker.lng"></agm-marker>
    <agm-polyline [strokeColor]="'red'">
      <agm-polyline-point *ngFor="let data of lines" [latitude]="data.lat" [longitude]="data.lng">
      </agm-polyline-point>
    </agm-polyline>

  </agm-map>
</ion-content>