<ion-header>
  <ion-toolbar>
    <ion-title mode=md class="start">Waarisdat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="backButton()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="body">
    <h1>#{{photoNumber}}</h1>
    <p class="finish-detailxx"><img height="200" src="assets/images/Waarisdit-00{{photoNumber}}.jpg"></p>
  </div>
  <agm-map #map [latitude]="centerLat" [longitude]="centerLng" [zoom]="14" [clickableIcons]="false">
    <agm-marker *ngFor="let marker of this.waarisdatService.markers" [latitude]="marker.lat" [longitude]="marker.lng"
      [opacity]="marker.alpha" [iconUrl]="marker.icon" (markerClick)="onMarkerClick($event)"
      (dragEnd)="markerDragEnd(marker,$event.coords.lat, $event.coords.lng)" [markerDraggable]="true"></agm-marker>
  </agm-map>
</ion-content>